body{
    margin:0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 115, 118);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.container{
    background-color: rgb(101, 151, 151);
    padding: 30px;
    border-radius: 5%;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.heading{
    font-size: 30px;
}
.input{
    height:40px ;
    width: 300px;
    background-color: rgb(212, 243, 243);
    border-color:rgba(255,255,255,.3);
    font-size: 16px;
    padding: 0 30px;
    border-radius: 5px;
}
.meaning-container{
    display: none;
}